<form method="POST" action="/pirates" >
  <input type="text" name="pirate[name]"/>
  <input type="number" name="pirate[height]"/>
  <input type="number" name="pirate[weight]"/>

  <input type="text" id="ship_name_1" name="pirate[ships][][name]"/>
  <input type="text" id="ship_type_1" name="pirate[ships][][type]"/>
  <input type="text" id="ship_booty_1" name="pirate[ships][][booty]"/>

  <input type="text" id="ship_name_2" name="pirate[ships][][name]"/>
  <input type="text" id="ship_type_2" name="pirate[ships][][type]"/>
  <input type="text" id="ship_booty_2" name="pirate[ships][][booty]"/>

  <button type="submit" value="Submit" name="Submit"></button>
</form>
